<%= form_with(model: [:admin, station], html: { style: 'display:none', class: "form_station_#{station.id}" }, local: true) do |form| %>

  <%= render 'common/errors', resource: station %>

  <div class="field">
    <%= form.text_field :title, class: 'form-control form-control-sm' %>
  </div>
  <div class="actions">
    <%= form.submit t('.submit'), class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>
