
<p>
  <strong>Title:</strong>
  <%= @railway_station.title %>
</p>
<p>Routes list which contain this station:</p>
<p>
  <% @railway_station.routes.each do |route| %>
    <%= route.name %><br>
  <% end %>
</p>

<p>
  <%= link_to 'Back', admin_railway_stations_path %>
</p>