<tr>
<td><%= coupe_carriage.id %></td>
<td><%= link_to 'Show', coupe_carriage %></td>
<td><%= link_to 'Edit', edit_coupe_carriage_path(coupe_carriage) %></td>
<td><%= link_to 'Destroy', coupe_carriage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
