<h1>Coupe carriages</h1>

<table>
  <thead>
    <tr>
      <th>ID:</th>
      <thcolspan='3'></th>
    </tr>
  </thead>

  <tbody>
    <%= render @coupe_carriages %>
  </tbody>
</table>

<br>

<%= link_to 'New coupe carriage', new_coupe_carriage_path %>
