<h2 class='text-center'><%= t('common.routes') %></h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <thcolspan='3'></th>
    </tr>
    <style>
      table {
      width: 500px;
      margin: auto;
      }
    </style>
  </thead>

  <tbody>
      <%= render @routes %>
  </tbody>
</table>
<br>
<p align='center'><%= link_to t('.new_route'), new_admin_route_path %></p>
<p align='center'><%= link_to t('common.back'), root_path %></p>
