<h1>Trains</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <thcolspan='3'></th>
    </tr>
  </thead>

  <tbody>
    <%= render @trains %>
  </tbody>
</table>

<br>

<%= link_to 'New Train', new_train_path %>
<p><%= link_to 'Back to main', welcome_index_path %></p>
