<p><h5>Basic Ruby on Rails traning project</h5></p>
<p><h5>code of project on <a href="https://github.com/stas0n7/trains/tree/lesson19">GitHub</a></h5></p>
<br>
<p><strong>Admin account:</strong></p>
<p>Email: admin@admin.com</p>
<p>Password: 111111</p>
<br>
<p><strong>User account:</strong></p>
<p>Email: test@test.com</p>
<p>Password: 111111</p>
