<p><h5>Учебный проект базового рукса по Ruby on Rails.</h5></p>
<p><h5>Код проекта <a href="https://github.com/stas0n7/trains/tree/lesson19">тут</a></h5></p>
<br>
<p><strong>Админ аккаунт:</strong></p>
<p>Почта: admin@admin.com</p>
<p>Пароль: 111111</p>
<br>
<p><strong>Пользовательский аккаунт:</strong></p>
<p>Почта: test@test.com</p>
<p>Пароль: 111111</p>
