<h1>Sold tickets</h1>

<table>
  <thead>
    <tr>
      <th>Passanger:</th>
      <thcolspan='3'></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>

<br>

<p><%= link_to 'Back to main', welcome_index_path %></p>
