<h2 class='text-center'>Bought tickets:</h2>

<table>
  <thead>
    <tr>
      <th>Passanger:</th>
      <thcolspan='2'></th>
    </tr>
    <style>
    table {
     width: 600px;
     margin: auto;
    }
   </style>
  </thead><br>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>
