<tr>
<td><%= sv_carriage.number %></td>
<td><%= link_to 'Show', sv_carriage %></td>
<td><%= link_to 'Edit', edit_sv_carriage_path(sv_carriage) %></td>
<td><%= link_to 'Destroy', sv_carriage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
