<h1>SV carriages</h1>

<table>
  <thead>
    <tr>
      <th>ID:</th>
      <thcolspan='3'></th>
    </tr>
  </thead>

  <tbody>
    <%= render @sv_carriages %>
  </tbody>
</table>

<br>

<%= link_to 'New sv carriage', new_sv_carriage_path %>
