<h2>Sold tickets:</h2><br>

<table>
  <thead>
    <tr>
      <th>Passanger:</th>
      <th>Bought by:</th>
      <thcolspan='3'></th>
    </tr>
    <style>
      table {
      width: 500px;
      margin: auto;
      }
    </style>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>
