<tr>
<td><%= seated_carriage.number %></td>
<td><%= link_to 'Show', seated_carriage %></td>
<td><%= link_to 'Edit', edit_seated_carriage_path(seated_carriage) %></td>
<td><%= link_to 'Destroy', seated_carriage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
