<h2>Search</h2>
<div class="container">
  <%= form_tag search_path, method: :get do %>
    <div class="row">
       <div class="col">
         <%= select_tag :start_id, options_from_collection_for_select(@stations, :id, :title), class: "form-control" %>
       </div>
       <div class="col">
         <%= select_tag :end_id, options_from_collection_for_select(@stations, :id, :title), class: "form-control" %>
       </div>
       <div class="col">
         <%= submit_tag 'Search', class: 'btn btn-primary find' %>
       </div>
    </div>
  <% end %>
</div>
