<h2 class='text-center'><%= t('common.trains') %></h2>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <thcolspan='3'></th>
    </tr>
    <style>
      table {
      width: 600px;
      margin: auto;
      }
    </style>
  </thead>

  <tbody>
    <%= render @trains %>
  </tbody>
</table>
<br>

<p align='center'><%= link_to t('.new_train'), new_admin_train_path %></p>
<p align='center'><%= link_to t('common.back'), root_path %></p>
