<tr>
<td><%= economy_carriage.id %></td>
<td><%= link_to 'Show', economy_carriage %></td>
<td><%= link_to 'Edit', edit_economy_carriage_path(economy_carriage) %></td>
<td><%= link_to 'Destroy', economy_carriage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
