<h1>Economy carriages</h1>

<table>
  <thead>
    <tr>
      <th>ID:</th>
      <thcolspan='3'></th>
    </tr>
  </thead>

  <tbody>
    <%= render @economy_carriages %>
  </tbody>
</table>

<br>

<%= link_to 'Back', :back %>
